<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558114901286-r02q6sbi16qcaodu188sifm47jkn8pnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558114901286-r02q6sbi16qcaodu188sifm47jkn8pnh</string>
	<key>API_KEY</key>
	<string>AIzaSyB-QG6w-jDM9WhVeOzWFzjN56lU22Y_OOw</string>
	<key>GCM_SENDER_ID</key>
	<string>558114901286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatappFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatappflutter-5fc38</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappflutter-5fc38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558114901286:ios:040f555dd8ae81c3dd05e7</string>
</dict>
</plist>